<!DOCTYPE html>
<html>
<head></head>
<body>
    <h1>SISLYNA</h1>
    <div>あああ！疲れた！本当は年内にGoogleCloud上にアップロードしてズーに見せたかったんだけど、社用スマホの低速デザリングによる開発だとこれが限界でした。泣</div>
    <div>でもpythonいじって、０からサイトをアップロードしてみたよ。Ownedの５倍達成感ありますね。</div>
    <div>来年戻ったらGoogleCloudにあげて、テキストベタ打ちじゃなくて色々いじってみようと思います。</div>
    <div>とりあえず、今年もお疲れ様でした。</div>
    <div>リクルートの仕事もまあやりがいはあるかもしれないけれど、</div>
    <div>（１）自分の好きな時間に、（２）自分の好きな場所で、（３）自分の好きな相手と、（４）オモロいことをする、という目標を考えると、</div>
    <div>（１）〜（３）は、やっぱりSISLYNAでしかできないし、（４）の度合いも、リクルートよりはシスリナの方ができそうと思ってます。</div>
    <div>俺がCLBで死にかけて、SISLYNAが頓挫しかけたとき、引っ張り上げてくれてありがとう。</div>
    <div>今年はもりもりSISLYNAやっていきたいな、よろしくお願いします。</div>
    <div>PS. 円ちゃんとはもりもりいった？笑</div>
</body>
</html>